
.wrapper {
    width: 1480px;
    margin: 0 auto;
}

header {
    width: 1280px;
    height: 189px;
    margin: 63px 100px 49px 100px;
}

.offer-button {
    display: block;
    color: #000000;
    font-family: Roboto;
    text-decoration: none;
    font-size: 80px;
    text-align: center;
    margin: 0 949px 41px 0;
    width: 334px;
    height: 79px;
}

.color-text {
    color: #4BCAFF;
}

.container-nav {
    display: flex;
    width: 1280px;
    height: 69px;
    margin: 41px 0 0 0;
    font-family: Roboto;
    font-size: 24px;
    color: #FFFFFF;
}

.container-nav div:hover {
    background: #222F3A;
}

.container1 {
    background: #35444F;
    width: 162px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2 {
    background: #35444F;
    width: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1px;
}

.container3 {
    background: #35444F;
    width: 153px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1px;
}

.container4 {
    background: #35444F;
    width: 284px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1px;
}

.container5 {
    background: #35444F;
    width: 243px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1px;
}

.container6 {
    background: #35444F;
    width: 103px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1px;
}

.container-aside {
    width: 344px;
    height: 399px;
    font-size: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #000;
    margin-right: 51px;
    font-family: Roboto;
}

.container-aside1 {
    width: 342px;
    height: 81px;
    box-sizing: border-box;
    padding: 26px 194px 25px 43px;
}

.container-aside2 {
    width: 342px;
    height: 81px;
    box-sizing: border-box;
    padding: 27px 78px 27px 38px;
}

.container-aside div:hover {
    background: #DBDBDB;
    text-align: center;
}

.container-aside3 {
    width: 342px;
    height: 81px;
    box-sizing: border-box;
    padding: 25px 82px 26px 42px;
}

.container-aside4 {
    width: 342px;
    height: 81px;
    box-sizing: border-box;
    padding: 26px 121px 26px 44px;
}

.container-aside5 {
    width: 342px;
    height: 81px;
    box-sizing: border-box;
    padding: 26px 147px 30px 44px;
}

main {
    width: 885px;
    height: 832px;
}

.div-img {
    width: 885px;
    height: 529px;
    border:  1px solid #000;
}

.img-ramda {
    width: 320px;
    height: 381px;
    margin: 75px 268px 73px 297px;
}

.img-ramda:hover {
    transform: scale(1.2);
}

.text-1 {
    width: 885px;
    height: 141px;
    font-size: 18px;
    font-family: Roboto;
    margin: 37px 0 13px 0;
    line-height: 24px;
}

.text-2 {
    width: 885px;
    height: 109px;
    font-size: 18px;
    font-family: Roboto;
    margin: 0;
    line-height: 24px;
}

footer {
    width: 1280px;
    height: 69px;
    background: rgba(99, 105, 110, 0.48);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    margin: 54px 100px 30px 100px;
}

.footer-text1 {
    width: 157px;
    box-sizing: border-box;
    padding: 20px 35px 21px 40px;
    font-size: 28px;
}

.footer-text2 {
    width: 166px;
    box-sizing: border-box;
    padding: 20px 0 21px 0;
    font-size: 28px;
}

.foot:hover {
    color: #3181A6;
    text-decoration: underline;
}

.footer-text3 {
    width: 300px;
    box-sizing: border-box;
    padding: 20px 40px 21px 40px;
    font-size: 28px;
}

.footer-text4 {
    width: 140px;
    box-sizing: border-box;
    padding: 20px 0 21px 0;
    font-size: 28px;
}

.footer-text5 {
    width: 152px;
    box-sizing: border-box;
    padding: 20px 0 21px 60px;
    font-size: 28px;
}

.footer-text6 {
    width: 365px;
    box-sizing: border-box;
    padding: 20px 40px 21px 135px;
    font-size: 24px;
}



